<!doctype html>
<html>
  <head>
    <title>Adivina un Numero</title>
  </head>
  <body>
    <h1>Adivina un numero</h1>
  <form action="/play" method="POST">
    <label for="guess">Enter a number between 1 and 10:</label>
    <input type="number" id="guess" name="guess" required>
    <button type="submit">Guess</button>
  </form>

  </body>
</html>