<!DOCTYPE html>
<html>
<head>
  <title>Game Result</title>
</head>
<body>
  <h1>Game Result</h1>
  <h3><%= resultText %></h3>

  <h3>Numero Secreto: <%= result %></h3>
  
  <a href="http://localhost:8889/">Atras</a>
</body>
</html>